{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",

    "COSMOS_ENDPOINT": "",
    "COSMOS_KEY": "",
    "COSMOS_DATABASE": "ffa",
    "COSMOS_LEAGUES_CONTAINER": "leagues",
    "COSMOS_DRAFTS_CONTAINER": "drafts",
    "CRED_ENCRYPTION_KEY": "",

    "CLERK_ISSUER": "",

    "YAHOO_CLIENT_ID": "",
    "YAHOO_CLIENT_SECRET": "",
    "YAHOO_REDIRECT_URI": "http://localhost:4280/api/yahoo/callback"
  },
  "Host": {
    "CORS": "*"
  }
}
